.idea/
.vscode/
node_modules/
build/
temp/
*.log
dump.rdb
.env
dist
packages/server/app.yaml
packages/server/docker-compose.yaml
packages/server/docker-compose.yaml.prod
packages/server/docker-compose.yaml.dev
packages/web/env
packages/server/env
