@media only screen and (min-width: 1643px){
    .cardSizeCategoriesRestarants{
        min-width: 158.53px;
    }

    .cardSizeCategoriesRestarants2{
        min-width: 58px;
        /* text-align: center; */
        background-color: #FF5E14 !important;
        color: #FFFF !important;
    }
    .cardSizeCategoriesRestarants3{
        min-width: 58px;
        /* text-align: center; */
        background-color: #FFFFFF !important;
    }

}


@media only screen and (max-width: 1642px){
    .cardSizeCategoriesRestarants{
        min-width: 140px;
    }

    .cardSizeCategoriesRestarants2{
        min-width: 58px;
        text-align: center;
        background-color: #FF5E14 !important;
        color: #FFFF !important;
    }

    .cardSizeCategoriesRestarants3{
        min-width: 58px;
        text-align: center;
        background-color: #FFFF !important;
    }

}