.MuiDrawer-paperAnchorDockedLeft {
    border-right: none !important;
}

@media only screen and (max-width: 768px){
    .hideOnMobile{
        display: none;
    }
}

.MuiButtonBase-root:hover {
    background-color: #FF5E14;
}

.MuiListItem-button:hover {
    text-decoration: none;
    background-color: #FF5E14;
}