.MuiDrawer-paperAnchorDockedLeft {
    border-right: none !important;
}

@media only screen and (max-width: 768px){
    .hideOnMobile{
        display: none;
    }
}

.MuiButtonBase-root:hover {
    background-color: #FF5E14;
}

.MuiListItem-button:hover {
    text-decoration: none;
    background-color: #FF5E14;
}

::-webkit-scrollbar {
    width: 12px;
}

/*Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgbs(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/*Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #FF5E14;
}